# Exclude large and unnecessary files
data/
notebooks/
results/**/*.csv
results/autocorrelation/
results/legacy/
results/figures/
results/test/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE and OS specific
.idea
.vscode
*.pyc
__pycache__/
.pytest_cache
.DS_Store

# Local environment
.env
venv/
*.conda
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info