# Python
__pycache__/
build/
develop-eggs/
*.egg-info/

# IDE
.idea/
.vscode/

# dotenv
.env

# Tests Dir
tests/

# Legacy Files / Dirs
**/legacy/

# Large files
# Ignore
results/msar/**/coefficients.csv
# Allow
!results/msar/**/coefficients.csv.gz